**/build/
**/Debug/
**/.idea/
**/.venv/
**/.vscode/
**/History/
**/managed_components/
**/backup/
HW/Library/Project Outputs for BluetoothTracking/
HW/Library/Project Outputs for BluetoothGateway/
HW/Library/Project Outputs for AccessControl/
*.rar