**/build/
**/Debug/
**/.idea/
**/.venv/
**/.vscode/
**/History/
**/managed_components/
**/backup/
HW/Library/Project\ Outputs\ for\ BluetoothTracking/
HW/Source/AccessControl/Project\ Outputs\ for\ AccessControl/
HW/Source/BluetoothGateway/Project\ Outputs\ for\ BluetoothGateway/
*.rar