<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Device Info</title>
  <link rel="stylesheet" href="/static/css/manage_devices.css">
</head>
<body>
    <nav>
      <div class="logo">Manage Device</div>
      <ul>
        <li><a href="#" onclick="showTab('info')">Information</a></li>
        <li><a href="#" onclick="showTab('network')">Network</a></li>
        <li><a href="#" onclick="showTab('report')">Report</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
  
    <div class="container">
      <div id="info" class="tab-content active">
        <h2>Device Information</h2>
        <div class="info-row"><strong>MAC:</strong> <span id="mac">24:58:7C:E2:C3:A6</span></div>
        <div class="info-row"><strong>Name:</strong> <span id="name">ESP_GATTS_DEMO</span></div>
      </div>
  
      <div id="network" class="tab-content">
        <h2>Network Settings</h2>
        <div class="info-row clickable" onclick="openWifi()">
          <strong>WiFi:</strong> <span id="currentSSID"></span>
        </div>        
      </div>
  
      <div id="report" class="tab-content">
        <h2>Report Configuration</h2>
        <div class="info-row"><strong>MQTT Server:</strong> <span>192.168.1.11:1883</span></div>
        <div class="info-row"><strong>Topic:</strong> <span>GL-IoT/dataTopic/E465B840814E</span></div>
        <div class="info-row"><strong>Interval:</strong> <span>1s</span></div>
      </div>
    </div>

    <!-- WiFi Modal -->
    <div id="wifiModal" class="container" style="display: none;">
      <div class="modal-container">
        <button class="close" onclick="closeWifiModal()">&times;</button>
        
        <h3>Select WiFi</h3>
        <ul id="wifiList"></ul>
        <div id="wifiPasswordSection" style="display: none;">
          <label for="wifiPassword">Enter Password</label>
          <input type="password" id="wifiPassword" />
          <button onclick="sendWifi()">Apply</button>
        </div>
      </div>
    </div>

    <script src="/static/js/manage_devices.js"></script>

</body>
</html>